<p id="notice"><%= notice %></p>
<div class="container">

  <%= render 'show', locals: { url: @url } %>

  <div>
    <p></p>
    <%= link_to "Edit this Url", edit_url_path(@url) %> |
    <%= link_to "Back to Listing Page", urls_path %> |

    <%= link_to "Destroy this Url",
                { controller: "urls", action: "destroy", id: @url.id },
                data: { turbo_confirm: 'Are you sure?' ,
                        turbo_method: :delete } %>
  </div>
  <p></p>
</div>